.table__container {
  max-width: 650px;
  margin: 0 auto 2.5rem;
  border-radius: .625rem;
  box-shadow: 10px 5px 32px $primary-color;

  &__title {
    background-color: $button-secondary-color-hover;
    color: $primary-invert;
    text-align: center;
    padding: .875rem;
    margin: 0 auto;
    border-bottom: .1rem solid $primary-invert;
    font-size: 1.5rem;
    font-weight: bold;
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
  }

  .MuiDataGrid-cellLeft,
  .MuiDataGrid-colCell {
    border-right: .1rem solid $primary-invert;
  }

  .MuiDataGrid-iconSeparator {
    visibility: hidden;
  }

  .MuiDataGrid-root {
    background-color: $border-input;
  }

  .MuiDataGrid-colCellWrapper,
  .MuiDataGrid-footer {
    background-color: $light-text-color;
    font-size: medium;
    color: $default-color;
  }

  .MuiDataGrid-row:nth-child(odd) {
    background-color: $date-color;
    ;
  }

  .MuiDataGrid-cell:last-child {
    width: 1px;
  }

  .MuiDataGrid-colCellTitle {
    font-weight: bold !important;
  }
}
