.toggle__container {
  left: 26px;
  display: flex;


  @include desktop {
    position: absolute;
    flex-direction: row;
  }

  input[type=radio]+label {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: $white;
    background-color: $button-pro-color;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    margin: 5px;

    &:hover {
      background-color: $button-pro-color;
      border-color: $button-pro-color;
      color: $white;
    }
  }

  input[type=radio].electricity:checked+label {
    background-color: $green;
    border-color: $green;
    color: $white;
  }

  input[type=radio].gas:checked+label {
    background-color: $orange;
    border-color: $orange;
  }

}
