 .button--enter {

   display: inline-block;
   padding: 0.5em 3em;
   border: 0.16em solid $accent-hover-color;
   margin: 0 0.3em 0.3em 0;
   box-sizing: border-box;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 400;
   color: $accent-color;
   text-align: center;
   transition: all 0.15s;

   &:hover {
     color: $button-pro-color;
     border-color: $button-pro-color;
   }
 }
