$primary: #474747;
$primary-color: #9e9e9e;
$primary-invert: #fff;
$accent-color: #00A997;
$accent-hover-color: #00887A;
$accent-light-color: #cceeea;
$alternate-color: #FFB135;
$alternate-hover-color: #E68D00;
$disable-color: #CDE7E7;
$button-secondary-color: var($accent-color);
$button-secondary-color-hover: #00887A;
$button-filaire-color-hover: #00887A;
$button-filaire-color: var($accent-color);
$bg-info-color: #FFF5E6;
$error-color: #FF352E;
$bg-primary-color: #fff;
$bg-accent-color: var($accent-color);
$bg-light-accent-color: #E5F7F5;
$bg-alternate-color: #ffb135;
$bg-light-alternate-color: #fff3e3;
$bg-primary-invert: #fff;
$bg-error-color: #FF352E;
$bg-disable-color: #fff;
$placeholder-color: #E1E1E1;
$default-color: #494949;
$button-pro-color: #f57356;
$light-text-color: #d4d1d1;
$border-input: #e2e2e2;
$placeholder-input: #c0c0c0;
$date-color: #f0eeee;
